package web

templ AdminPage() {
    @Base("admin") {
        @AdminDisplay()
    }
}

templ AdminDisplay() {
    <div id="admin-container">
        <h1 class="category-title">Admin</h1>
        <div>
            <a href="/letters" class="card-subtitle">Letters</a>
        </div>
        <div>
            <a href="/writer" class="card-subtitle">Writer</a>
        </div>
    </div>
}
